.main {
  background-color: #f8f8f8;
  padding: 50px 0;
  height: 90vh;

  .container {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    height: 100%;

    .left {
      flex: 1.5;
      display: flex;
      flex-direction: column;
      gap: 20px;

      span {
        color: #345243;
        font-size: 25px;
      }

      h1 {
        font-size: 35px;
      }

      p {
        font-size: 20px;
      }

      a {
        background-color: #345243;
        width: 30%;
        color: white;
        display: flex;
        justify-content: center;
        padding: 10px;
        font-size: 18px;
        transition: all 0.4s ease;
        border: 1px solid #345243;

        &:hover {
          background-color: #fff;
          color: #345243;
          border: 1px solid #345243;
        }
      }
    }

    .right {
      flex: 1;
      position: relative;
      padding: 100px;
      height: 100%;
      display: flex;
      margin-left: 50px;

      .img1 {
        height: 400px;
        position: absolute;
        top: 50px;
        left: 50px;
        transition: transform 0.4s;
        transform: rotateY(0deg) rotate(-40deg); /* needs Y at 0 deg to behave properly*/
      }

      .img2 {
        height: 400px;
        position: absolute;
        top: 50px;
        left: 90px;
        transition: transform 0.4s;
        transform: rotateY(0deg) rotate(-30deg); /* needs Y at 0 deg to behave properly*/
      }

      .img3 {
        height: 400px;
        position: absolute;
        top: 55px;
        left: 130px;
        transition: transform 0.4s;
        transform: rotateY(0deg) rotate(-20deg); /* needs Y at 0 deg to behave properly*/
      }

      .img4 {
        height: 400px;
        position: absolute;
        top: 70px;
        left: 165px;
        transition: transform 0.4s;
        transform: rotateY(0deg) rotate(-10deg); /* needs Y at 0 deg to behave properly*/
      }

      .img5 {
        height: 400px;
        position: absolute;
        top: 90px;
        left: 195px;
        transition: transform 0.4s;
        transform: rotateY(0deg) rotate(0deg); /* needs Y at 0 deg to behave properly*/
      }

      .img6 {
        height: 400px;
        position: absolute;
        top: 110px;
        left: 230px;
        transition: transform 0.4s;
        transform: rotateY(0deg) rotate(10deg); /* needs Y at 0 deg to behave properly*/
      }
      .img7 {
        height: 400px;
        position: absolute;
        top: 130px;
        left: 260px;
        transition: transform 0.4s;
        transform: rotateY(0deg) rotate(20deg); /* needs Y at 0 deg to behave properly*/
      }
      .img8 {
        height: 400px;
        position: absolute;
        top: 160px;
        left: 280px;
        transition: transform 0.4s;
        transform: rotateY(0deg) rotate(30deg); /* needs Y at 0 deg to behave properly*/
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .main {
    .container {
      width: 95%;

      .left {
        span {
          font-size: 20px;
        }

        h1 {
          font-size: 30px;
        }

        p {
          font-size: 18px;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .main {
    .container {
      flex-direction: column-reverse;
    }
  }
}

@media screen and (max-width: 992px) {
  .main {
    .container {
      width: 95%;

      .left {
        span {
          font-size: 15px;
        }

        h1 {
          font-size: 25px;
        }

        p {
          font-size: 15px;
        }
      }
    }
  }
}
